<!DOCTYPE HTML>
<html lang="en" ng-app="myApp">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>GroupProj - v001</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="main.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
  <script src="smgplatform.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/serverApiService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/platformMessageService.js"></script>
</head>
<body ng-cloak ng-controller="Ctrl">
  <img ng-src="{{playerInfo.avatarImageUrl}}" ng-show="loggedIn"/>
  <span ng-show="loggedIn">{{playerInfo.displayName}}</span>
  <br>
  <button ng-click="registerPlayerAsGuest()">Register Player As Guest</button>
  <button ng-click="checkIdAndSig()">Check My Credentials</button>
  <button ng-click="reserveAutoMatch()">Reserve Auto Match (or make new)!</button>
  <br>
  selected game - {{gameId ? gameId : 'no game selected'}} * matchId - {{matchId ? matchId : 'no match selected'}}
  <br>
  Server response:<br>
  <textarea ng-model="response" rows=5 cols=100 readonly></textarea>
  <br>
  <select ng-model="gameId" ng-options="game.gameId as game.languageToGameName.en for game in games">
    <option value="">Select A Game</option>
  </select>
  <select ng-model="matchId" ng-options="match.matchId as match.createdTimestampMillis for match in myMatches">
    <option value="">Select A Match!</option>
  </select>
  <br>
  <iframe frameborder="1" id="game_iframe" ng-src="{{gameUrl}}" scrolling="no" seamless="seamless" ng-show="showGame"></iframe>
  <!-- <ul ng-show="gameId != null">
    {{myMatches == null || myMatches.length == 0 ? 'you don\'t have any matches!' : ''}}
    <li ng-repeat="match in myMatches track by $index" ng-click="loadMatchFromMatchList(match.matchId)">created @ {{match.createdTimestampMillis}}</li>
  </ul> -->
  
  <br>
</body>
</html>
