<!DOCTYPE HTML>
<html lang="en" ng-app="myApp">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>SMGPlatform|v0.2.10</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="stylesheet" type="text/css" href="css/ratchet2_0.css">
  <link rel="stylesheet" type="text/css" href="css/ratchet.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="icon" type="image/png" href="images/favicon.png">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.js"></script>
  <script src="smgplatform.js"></script>
  <script src="viewsControllers.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/serverApiService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/platformMessageService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/stateService.js"></script>
  <script src="featureService.js"></script>
  <script src="fblogin.js"></script>
</head>
<script>
    function makeAjaxCall(url, callback) {
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState==4 && xmlhttp.status==200) {
          var responseText = xmlhttp.responseText;
          console.log(responseText);
          callback(responseText);
        }
      };
      xmlhttp.open("GET", url, true);
      xmlhttp.send();
    }

    function sendMessageToPhonegap(message) {
      // alert("sendMessageToPhonegap:" + message);
      window.parent.postMessage(message, "*");
    }

    window.addEventListener("message", function (event) {

      var message = event.data;
      var source = event.source;
      if (source === window.parent) {
        // alert("platform got message:" + JSON.stringify(message));
        if (message.token) {
          // alert("fb token received!");
          testFbAPI(message.token);
        }
      }
    }, false);

    function testFbAPI(accessToken) {
      makeAjaxCall(
        "https://graph.facebook.com/v2.2/me?format=json&method=get&pretty=0&suppress_http_code=1&access_token="
          + accessToken,
        function(responseText) {
          var response = JSON.parse(responseText);
          // alert("Successful login for: " + response.name);
          // alert(accessToken);
          angular.element(document.getElementById("Ctrl")).scope().passAuthToAngular(accessToken);
        }
      );
    }

    makeAjaxCall("phonegapCode.js",
      function(responseText) {
        // alert('Loaded phonegapCode.js: ' + responseText);
        sendMessageToPhonegap(responseText);
      }
    );

  </script>
<body ng-cloak ng-controller="Ctrl" id="Ctrl">
<div id="fb-root"></div>
  <div ng-show="devMode" class="middle">
    <br>
    Server response:<br>
    <textarea ng-model="response" rows=5 cols=100 readonly></textarea>
    {{endScore}} {{yourPlayerIndex}}
    <br>
  </div>
  <nav class="bar-tab">
    <ul class="tab-inner" id="bar-navigation">
      <li class="tab-item" ng-click="changeActive(false)" id="home-tab">
        <a href="#/" ng-click="changeActive(false)">
          <img class="tab-icon" src="images/home.png">
          <div class="tab-label">Home</div>
        </a>
      </li>
      <li class="tab-item" ng-click="changeActive(false)" id="choosematch-tab">
        <a href="#/choose-match" ng-click="changeActive(false)">
          <img class="tab-icon" src="images/choosematch.png">
          <div class="tab-label">Select Match</div>
        </a>
      </li>
      <li class="tab-item" ng-click="changeActive(true)" id="match-tab">
        <a href="#/match/{{openingMove ? 'firstMove' : matchId}}" ng-click="changeActive(true)">
          <img class="tab-icon" src="images/play.png">
          <div class="tab-label">Play</div>
        </a>
      </li>
      <li class="tab-item" ng-click="changeActive(false)" id="newmatch-tab">
        <a href="#/new-match/" ng-click="changeActive(false)">
          <img class="tab-icon" src="images/newmatch.png">
          <div class="tab-label">New Match</div>
        </a>
      </li>
    </ul>
  </nav>
  <!-- placeholder for view markup -->
  <center>
  <div ng-view></div>
  </center>
  <iframe frameborder="1" id="game_iframe" ng-src="{{gameUrl}}" scrolling="no" seamless="seamless" ng-show="showGame"></iframe>

</body>
</html>
