<!DOCTYPE HTML>
<html lang="en" ng-app="myApp">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>GroupProj - Test Server API</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="http://yoav-zibin.github.io/emulator/main.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
  <script src="smgplatform.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/serverApiService.js"></script>
</head>
<body style="height:100%; width:100%;" ng-cloak ng-controller="Ctrl">
<br>
<img src="images/avatar0.png" ng-show="loggedIn"/>
<br>
<span ng-show="loggedIn">{{displayName}}</span>
<br>
<button ng-click="registerPlayerAsGuest()">Register Player As Guest</button>
<button ng-click="checkIdAndSig()">Check My Credentials</button>
<button ng-click="reserveAutoMatch()">Reserve Auto Match!</button>
<br>
selected game - {{gameId ? gameId : 'no game selected'}}
<br>
<br>
Example messages:<br>
<textarea rows=7 cols=80>
[{addGame: {gameUrl: "http://yoav-zibin.github.io/TicTacToe/game.html", gameDeveloperEmail: "yoav.zibin@gmail.com", languageToGameName: {en: "TicTacToe"}, password: "pass"}}]
[{getGames: {}}]
[{getGames: {gameId: "5682617542246400"}}]
[{emailJavaScriptError: {gameDeveloperEmail: "yzibin@google.com", emailSubject: "emailSubject", emailBody: "emailBody"}}]
[{registerPlayer:{displayName: "yoav z", avatarImageUrl: "avatar"}}]
[{getPlayerMatches: {gameId: "...", getCommunityMatches: false, myPlayerId:"...",accessSignature:"..."}}]
[{reserveAutoMatch: {tokens:0, numberOfPlayers:2, gameId: "...", myPlayerId:"...",accessSignature:"..."}}]
[{newMatch: {gameId: "...", tokens: 0, move: [{setTurn: {turnIndex: 0}}, {setRandomInteger: {key: 'foo', from: 0, to: 6}}], startAutoMatch: { numberOfPlayers : 2 }, myPlayerId:"...",accessSignature:"..."}}]
[{madeMove: {matchId:"...", move: [{setTurn: {turnIndex: 1}}, {set: {key: 'bar', value: 42}}], moveNumber: 1, myPlayerId:"...",accessSignature:"..."}}]
[{dismissMatch: {matchId:"...", myPlayerId:"...",accessSignature:"..."}}]
</textarea>
<br>
Server response:<br>
<textarea ng-model="response" rows=5 cols=80 readonly></textarea>
<br>
<select ng-model="gameId" ng-options="game.gameId as game.languageToGameName.en for game in games">
  <option value="">Select A Game</option>
</select>
<ul ng-show="gameId != null">
  {{myMatches == null ? 'you don\'t have any matches!' : ''}}
  <li ng-repeat="key in myMatches track by $index" ng-click="">insert match information</li>
</ul>
</body>
</html>
