
<header class="bar-title">
    <a class="button-prev" href="#/">
        Back
    </a>
    <h1 class="title">Options</h1>
</header>

<nav class="bar-tab">
    <ul class="tab-inner">
        <li class="tab-item active">
            <a href="#/">
                <img class="tab-icon" src="img/icon-home.png">
                <div class="tab-label">LIV</div>
            </a>
        </li>
        <li class="tab-item">
            <a href="#/CGV">
                <img class="tab-icon" src="img/icon-profile.png">
                <div class="tab-label">CGV</div>
            </a>
        </li>
        <li class="tab-item">
            <a href="#/GOV">
                <img class="tab-icon" src="img/icon-settings.png">
                <div class="tab-label">GOV</div>
            </a>
        </li>
        <li class="tab-item">
            <a href="#/MFV">
                <img class="tab-icon" src="img/icon-settings.png">
                <div class="tab-label">MFV</div>
            </a>
        </li>
        <li class="tab-item">
            <a href="#/OGV">
                <img class="tab-icon" src="img/icon-settings.png">
                <div class="tab-label">OGV</div>
            </a>
        </li>
        <li class="tab-item">
            <a href="#/BRV">
                <img class="tab-icon" src="img/icon-settings.png">
                <div class="tab-label">BRV</div>
            </a>
        </li>
    </ul>
</nav>






<div class="content">
<div class="form-wrapper">
    <form>
        <a class="button-block">Play with Friends</a>
        <a class="button-block">Play with Stranger</a>
        <a class="button-block">Current Matches</a>
        <a class="button-block">Past Matches</a>
    </form>
</div>
</div>