<header class="bar-title">
  <h1 class="title">Select a Match!</h1>
</header>

<div class="content center view">
  <div ng-include src="'views/userInfo.html'"></div>
  <select ng-model="$parent.matchId" ng-options="match.matchId as match.summary.full for match in myMatches" ng-show="flags.listMultiplayerMatches && myMatches != undefined && myMatches.length > 0">
    <option value="">Select a Match!</option>
  </select>
  <div ng-show="flags.matchMenu">
    <img ng-src="{{myMatches[getMatchIndex(matchId)].playersInfo[1 - yourPlayerIndex].avatarImageUrl}}"/>
    <br/>
    <span class="playerId" ng-show="myMatches[getMatchIndex(matchId)].playersInfo[1 - yourPlayerIndex] != null">{{myMatches[getMatchIndex(matchId)].playersInfo[1 - yourPlayerIndex].displayName}} - {{myMatches[getMatchIndex(matchId)].summary.turn}}</span>
  </div>
  <button  class="btn btn-positive btn-block custom-btn" ng-click="reserveAutoMatch()">Auto Match</button>
  <button  class="btn btn-positive btn-block custom-btn" ng-click="playAgainstComputer()">VS Computer</button>
  <button class="btn btn-positive btn-block custom-btn"  ng-click="passAndPlay()">Pass And Play</button>

</div>
