<header class="bar-title">
  <h1 class="title">Select a Match!</h1>
</header>

<div class="content center view">
  <div ng-include src="'views/userInfo.html'"></div>
  <select ng-model="$parent.matchId" ng-options="match.matchId as match.summary.full for match in myMatches" ng-show="flags.listMultiplayerMatches && myMatches != undefined && myMatches.length > 0">
    <option value="">Select a Match!</option>
  </select>
  <br>
  <br>
  <br>
  <input  type=button class="round-button" onCLick="parent.location='#/new-match/'" value='Start' ng-show="myMatches.length == 0">
  <br>
  <!--
  selected game - {{gameId ? gameId : 'no game selected'}} * matchId - {{matchId ? matchId : 'no match selected'}}
  <br> -->
  <div ng-show="flags.matchMenu">
    <img ng-src="{{myMatches[getMatchIndex(matchId)].playersInfo[1 - yourPlayerIndex].avatarImageUrl}}"/>
    {{myMatches[getMatchIndex(matchId)].playersInfo[1 - yourPlayerIndex].displayName}}
    {{myMatches[getMatchIndex(matchId)].summary.turn}}
  </div>

</div>