<header class="bar-title">
  <h1 class="title">Start a New Match!</h1>
</header>

<div class="content center view">
  <div ng-include src="'views/userInfo.html'"></div>
  <button  class="btn btn-positive btn-block" ng-click="reserveAutoMatch()">Reserve Auto Match (or make new)!</button>
  <br>
  <button  class="btn btn-positive btn-block" ng-click="playAgainstComputer()">Play Against Computer</button>
  <br>
  <button class="btn btn-positive btn-block"  ng-click="passAndPlay()">Pass And Play</button>
</div>